<div class="my-posts-page">
  <h2>My Posts</h2>

  <div *ngIf="isLoading()" class="loading-text">
    Loading your posts...
  </div>

  <ng-container *ngIf="!isLoading()">
    <div class="empty-text" *ngIf="posts().length === 0">
      You have not posted anything yet.
    </div>

    <div class="posts-grid" *ngIf="posts().length > 0">
     <div
 class="post-card"
 *ngFor="let post of posts(); trackBy: trackByPostId"
>


<div class="card-image">

<img
[src]="getMainImage(post)"
[alt]="post.title"
(error)="onImageError($event)"
>

<!-- 
<button class="fav-btn">
<i class="far fa-heart"></i>
</button> -->

</div>



<div class="card-content">

<div class="category">
✦ {{post.categoryId?.categoryName || 'Service'}}
</div>



<h3>
{{post.title || 'Untitled Post'}}
</h3>



<p class="description">
{{getDescription(post)}}
</p>



<div class="info-row">

<span>
⭐ 4.8
</span>


<span>
<i class="fas fa-location-dot"></i>
{{getDistrict(post)}}
</span>


</div>



</div>



<div class="post-actions">


<button
class="edit-btn"
(click)="editPost(post,$event)"
>
<i class="fas fa-pen"></i>
Edit
</button>



<button
class="feature-btn"
(click)="featurePost(post,$event)"
>
<i class="fas fa-star"></i>
Feature
</button>



<button
class="delete-btn"
(click)="removePost(post,$event)"
>
<i class="fas fa-trash"></i>
Delete
</button>


</div>


</div>
</div>
  </ng-container>
</div>
