.admin-login-container{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f5f7fb;

}


.admin-login-card{

width:350px;
padding:40px;
background:white;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;

}


h1{

font-size:32px;
margin-bottom:10px;

}


input{

width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ddd;

}


button{

width:100%;
padding:12px;
margin-top:20px;
background:#0a3d91;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}


.error{

color:red;
margin-bottom:10px;

}